body {
    background-color: black;
}

.container {
    display: grid;
    grid-template-columns: [col1] 50% [col2] 1fr [col3] 1fr;
    grid-template-rows: [row1] 5% [row2] 80% [row3] auto;
    gap: 1rem;
}

.menu-item {
    grid-column-start: col1;
    grid-column-end: span col1;
    grid-row-start: row2;
    grid-row-end: row2;
    background-color: bisque;
}

.order-item {
    grid-column-start: col2;
    grid-column-end: span col2;
    grid-row-start: row2;
    grid-row-end: row2;
    background-color: bisque;
}